{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags %}
{% load static %}
{% block content_hero%}
    {% include "base/include/header-hero.html" %}
{% endblock %}
{% block content %}
    <div class="container blog-page">
        <div class="col-sm-10">{% if page.introduction %}
            <p class="display-4 font-weight-normal">{{ page.introduction }}</p>
        {% endif %}

            <div class="blog-meta">

            </div>

            {{ page.body }}

            {% if page.get_tags %}
                Tagged with:<br/>
                {% for tag in page.get_tags %}
                    <a href="{{ tag.url }}" class="badge badge-pill badge-primary">{{ tag }}</a>
                {% endfor %}
            {% endif %}</div>
    </div>
{% endblock content %}
