.blog-page {
  .rich-text{
    text-align: justify;
    text-justify: inter-word;
  }

  .block-image_block{
    text-align: center;

    img {
      max-width: 450px;
      height: 100%;
      border-radius: $border-radius;
      @extend .shadow;
    }

    figcaption{
      margin-top: 4px;
      font-style: italic;
      font-size: 0.9rem;
    }
  }
}

.richtext-image{
  max-width: 450px;
  height: 100%;
  border-radius: $border-radius;
  margin-left: 25%;
  @extend .shadow;
}
