{% load navigation_tags static wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

<body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
{% wagtailuserbar %}

{% block header %}
    {# Header contains the main_navigation block #}
    {% include "includes/header.html" with parent=site_root calling_page=self %}
{% endblock header %}

{% block head-extra %}
{% endblock head-extra %}



{#{% block breadcrumbs %}#}
    {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
{#    {% breadcrumbs %}#}
{#{% endblock breadcrumbs %}#}

<main role="main">
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-dark">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            {% if with_content_hero == null or with_content_hero == True %}
                {% block content_hero %}
                {% endblock content_hero %}
            {% endif %}
            {% block messages %}
                {% include "includes/messages.html" %}
            {% endblock messages %}
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        {% block content %}
        {% endblock content %}
    </div>
</main>


    <hr>

    <!-- Footer -->
    <footer>
        {% include "includes/footer.html" %}
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}

</body>

</html>
