{% load navigation_tags static %}

<div class="container" role="contentinfo">
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <ul class="list-inline text-center">
                <li>
                    <a href="https://www.facebook.com/QR-Code-free-387930878717577/" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="//www.dmca.com/Protection/Status.aspx?ID=3d8d3ed7-6e03-4542-8ece-5443fcd929fc"
                       title="DMCA.com Protection Status" class="dmca-badge"> <img
                        src="https://images.dmca.com/Badges/dmca_protected_2_120.png?ID=3d8d3ed7-6e03-4542-8ece-5443fcd929fc"
                        alt="DMCA.com Protection Status"/></a>
                </li>
            </ul>
            {% get_footer_text %}
        </div>
    </div>
</div>